@{
    ViewData["Title"] = "Home Page";
}

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Welcome</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; to my car_configuration site. This site does 2 things.</p>
<p>&nbsp; &nbsp; <strong>1.</strong>&nbsp; <strong>If you choose different car parts, my site will show you the car with that feature</strong>. For this, you <span style="text-decoration: underline;">just need to register as a user</span>. There are 3 different roles from the site:&nbsp; admin, manager and user. If a person enters the name and password of admin or manager during registration, he will be admin and manager, if he enters another name and password, he will be a user.</p>
<p>&nbsp; &nbsp; &nbsp;admin: &nbsp; username - admin, password - admin123,&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; manager: &nbsp; username - aziz, password - azizbek123.</p>

<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp;<strong>2.</strong>&nbsp; <strong>You can also create other machines</strong>, as a result you will help increase the number of machines on the site. For this you need to register as admin or manager.</p>
<p>&nbsp; &nbsp; &nbsp; Then <span style="text-decoration: underline;">the first thing</span> to do is to create a "Model".&nbsp; For example "malibu". In addition to the name, you will need to enter a photo of your choice. <span style="text-decoration: underline;">The second thing</span> to do is create a "Color". For example "white". You can add multiple colors. <span style="text-decoration: underline;">The third thing</span> to do is to create a "ColorM" (ColorModel). 
    This involves combining the color you created earlier with the model you created. In our example, "malibu" and "white". <span style="text-decoration: underline;">The fourth thing</span> is to create a "Wheel". For example "17 Inch Black Steel Rim". <span style="text-decoration: underline;">The fifth thing</span> to do is to create a "WCM" (WheelColorModel). This will add the Model name, Wheel name, ColorModel name and a base image for the model. That is, if the user 
    chooses a white Malibu with 17 Inch Black Steel Rim balloon, that image will be shown to him. <span style="text-decoration: underline;">The sixth thing</span> to do is to make sure everything is added correctly and make the model visible to users. To do this, click on the "GetModels". The multiplication of the ColorAmount and the WheelAmount of the model you created should be equal to the ColorWheelAmount. That is, if you added 2 colors and 3 wheels, it should be like 2 - 3 - 6.
    That is, every combination must be done. You can find out by clicking on "statistic" if any of them have not been completed. If everything is correct, go to the name of the model, click on it and enter "update". Type Model name again and check IsReady. If IsReady is checked, your model will be visible to users.</p>

<br />
<br />
<br />
<br />
<br />
<br />
<br />